<!DOCTYPE html>
<html>
    <head>
        <title>resume matcher</title>
    </head>
    <body>
        <h1>Resume Matcher</h1>
        <form method="POST" enctype="multipart/form-data" >
            <label>Upload Resume:</label>
            <br><br>
            <input type="file" name="resume">
            <br><br>
            <label>Paste Job Description:</label>
            <br><br>
            <textarea rows="10" cols="50" name="job_description"></textarea>
            <br>
            <br>
            <button type="submit">Analyse</button>
        </form>
        {% if score %}

    <h2>Match Score: {{ score }}%</h2>

{% endif %}
       
    </body>
</html>